{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div>
            <input type="button" value="加入房间" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
{#            <input type="button" value="新建房间" class="btn btn-primary" id="btnAdd">#}
        </div>

        <div class="panel panel-default" >
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                房间用户列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>房间名称</th>
                    <th>玩家昵称</th>
                    <th>玩家方位</th>
                    <th>入座时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.room.roomname }}</td>
                        <td>{{ obj.user.user_nick }}</td>
                        <td>{{ obj.get_position_display }}</td>
                        <td>{{ obj.create_time|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="#">退桌</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{#        <! -- 分页功能 -->#}
{#        <ul class="pagination">#}
{#            {{ page_string }}#}
{#        </ul>#}
    </div>

    <!-- 加入房间 对话框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">加入房间</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="clearfix">
                            {% for field in form %}
                                <div class="col-xs-6">
                                    <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        <span class="error-msg" style="color: red;position: absolute;"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSave">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function (){
            bindBtnAddEvent();
            bindBtnSaveEvent();
        })


        function bindBtnAddEvent(){
            $('#btnAdd').click(function (){
                // 点击新建按钮，显示对话框
                alert("显示对话框")
                $('#myModal').modal('show');
            })
        }

        function bindBtnSaveEvent() {
            $("#btnSave").click(function () {
                // 清除错误信息
                $(".error-msg").empty();
                // 向后台发送请求
                $.ajax({
                    url: "/room/" + rid+ "/user/add/",
                    type: "post",
                    data: $("#formAdd").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            // alert("添加成功");
                            // 清空表单  $("formAdd")是jQuery对象; $("formAdd")[0]是DOM对象;
                            $("#formAdd")[0].reset();
                            // 关闭对话框
                            $('#myModal').modal('hide');
                            // 刷新页面
                            location.reload();
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $("#id_" + name).next().text(errorList[0])
                            });
                        }
                    }
                })
            });
        }


    </script>
{% endblock %}
